[Unit]
Description=Wiseflat xPL shell daemon
After=networking.service
After=xpl-hub.service

[Service]
Type=simple
ExecStart=node /opt/xpl-shell/index.js
Restart=always

[Install]
WantedBy=multi-user.target
